{{!-- Ejercicio para la 2da entrega --}}

{{!-- Aca tenes que recibir el array con los productos --}}

<div>
    {{#each productos}}
        <p> {{this.nombre}} </p>
        <p> {{this.description}} </p>
        <p> {{this.price}} </p>
    {{/each}}
</div>
