{{!-- Ejercicio para la 2da entrega --}}

{{!-- Aca tenes que recibir el array con los productos --}}

<h1>Lista de Productos</h1>
<div id="productList">
    {{#each products}}
    <div>
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}}</p>
    </div>
    {{/each}}
</div>
