<h1>Lista de Productos</h1>
<div class="product-list">
    {{#if products.length}}
        {{#each products}}
        <div class="product-card">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
        </div>
        {{/each}}
    {{else}}
        <p>No hay productos disponibles</p>
    {{/if}}
</div>

{{!-- Aca debemos inportar socket.io --}}

<h2>Lista de usuarios</h2>
<ul id="lista-usuarios"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
<script src="js/main.js"></script>